@model string
@{
    ViewData["Title"] = "Circle Access Awesomeness Tester";
}

<div class="text-center">

    <link type="text/css" rel="stylesheet" href="https://console.circlesecurity.ai/dashboard/css/circleaccess.css"/>
    <a href="@Model" class="circleaccess-button circleaccess-button-light">
        <span class="circleaccess-icon-wrapper">
            <img class="circleaccess-icon" alt="" style="width: 22px;" src="https://console.circlesecurity.ai/dashboard/img/circle_logo.png">
        </span>
        <span class="circleaccess-text circleaccess-text-long">Login with Circle </span>
        <span class="circleaccess-text circleaccess-text-short">Login with Circle</span>
    </a>

</div>
